@{ var listPedidos = ViewData["ListaPedidos"] as List<WebAppPedidos.Models.Pedido>; }

<title>Lista de Pedidos</title>

<meta charset="utf-8" />
<style>
    table, th, td {
        border: 1px solid black;
        text-align: left;
    }
</style>

<body>
    <h2>Gerenciamento de Pedidos</h2>

    <a href="/Pedido/CadastrarPedido">Cadastrar Pedido</a>
    
    <br />
    <br />

    <table>
        <tr>
            <th>Produto</th>
            <th>Quantidade</th>
            <th>Valor</th>
            <th>Data</th>
            <th>Fornecedor</th>
        </tr>
        @{
            if (listPedidos != null)
            {
                foreach (WebAppPedidos.Models.Pedido pedido in listPedidos)
                {
                    <tr>
                        <td>@pedido.Produto</td>
                        <td>@pedido.Quantidade</td>
                        <td>@pedido.Valor</td>
                        <td>@pedido.Data</td>
                        <td>@pedido.Fornecedor</td>
                    </tr>
                }
            }
        }
    </table>

    <p style="float: left;"><b>Data de atualização:</b>
    <p style="float: left;" id="data"></p>

</body>

<script>
    var d = new Date();
    var hoje = new Date();
    var yyyy = hoje.getFullYear();

    var dd = hoje.getDate().toString();
    if (dd.length == 1) {
        dd = '0' + dd;
    }

    var mm = (hoje.getMonth() + 1).toString();
    if (mm.length == 1) {
        mm = '0' + mm;
    }

    var horas = hoje.getHours();
    if (horas.toString().length == 1) {
        horas = '0' + horas;
    }

    var minutos = hoje.getMinutes();
    if (minutos.toString().length == 1) {
        minutos = '0' + minutos;
    }

    var segundos = hoje.getSeconds();
    if (segundos.toString().length == 1) {
        segundos = '0' + segundos;
    }

    d = dd + "/" + mm + "/" + yyyy + " " + horas + ":" + minutos + ":" + segundos;
    document.getElementById("data").innerHTML = d;
</script>